In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
import xgboost as xgb

/home/noBody/anaconda3/lib/python3.7/site-packages/dask/dataframe/utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
location_encoder=LabelEncoder()
Sector_encoder=LabelEncoder()
job_encoder=LabelEncoder()
Eligibility_encoder=CountVectorizer()
data=pd.read_csv("DataSet.csv")

In [3]:
data.head()

,Unnamed: 0,Location,Job_Description,Sector,Eligibility,salary,Month,vacancies
0,0,DELHI,SALES & MARKETING AGENT,Sales/Retail/Business Development,BTech BE ME MTech,35000.0,7,8.0
1,1,BENGALURU,GERMAN TRAINING COORDINATOR,Customer Service/Support,BSc Diploma,50000.0,9,8.0
2,2,BENGALURU,PROCESS ENGINEER,Engineering,MPhil PhD,150000.0,7,3.0
3,3,BENGALURU,SENIOR SOFTWARE ENGINEER,IT/Software Development,BTech BE ME MTech,60000.0,5,2.0
4,4,BENGALURU,GRAPHIC DESIGNER,Creative/Design,BDS MBBS BAMS,30000.0,7,2.0

In [4]:
cv=CountVectorizer()
#cv.fit_transform(data["Eli"])
#salary, job_label,Sector_label,City_label, Education
def Convert(df):
    encod=df[["Location","Job_Description","Sector","salary","Month"]]
    encod["Location"]=location_encoder.fit_transform(df["Location"])
    encod["Job_Description"]=job_encoder.fit_transform(df["Job_Description"])
    encod["Sector"]=Sector_encoder.fit_transform(df["Sector"])
    trans=cv.fit_transform(df["Eligibility"])
    trans=pd.DataFrame(trans.todense(),columns=cv.get_feature_names())# Create a dataframe with only Eligibility values
    df2=pd.concat([encod,trans],axis=1)
    return df2
X=Convert(data)

/home/noBody/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/noBody/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/noBody/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
X

,Location,Job_Description,Sector,salary,Month,10th,12th,4th,5th,8th,...,pathology,pg,pgdba,pgdca,pgdm,pharm,phd,professional,science,surgery
0,41,5277,27,35000.0,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,22,2446,7,50000.0,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,22,4596,10,150000.0,7,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,22,6209,14,60000.0,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,22,2482,6,30000.0,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16240,22,1233,6,60000.0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16241,134,2568,25,70000.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16242,22,3616,1,40000.0,2,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
16243,22,1835,20,10000.0,12,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
16244,22,3949,14,80000.0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

cv=CountVectorizer()

cv.fit_transform(data["Eli"])

#salary, job_label,Sector_label,City_label, Education

def Convert(df):
    df3=pd.DataFrame()
    encod=df[["Location","Job_Description","Sector","Eligibility","salary","Month"]
    enco = df[["salary","job_title","Sector","City","Eli","Month"]]
    enco["City_label"]  = city_encoder.fit_transform(enco["City"])
    enco["job_label"] = job_encoder.fit_transform(enco["job_title"])
    enco["Sector_label"] = sector_encoder.fit_transform(enco["Sector"])
    
    df3["salary"]=enco["salary"]
    df3["Job_label"]=enco["job_label"]
    df3["Sector_label"]=enco["Sector_label"]
    df3["City_label"]=enco["City_label"]
    df3["Month"]=enco["Month"]
    
    trans             = cv.fit_transform(enco["Eli"])
    trans             = pd.DataFrame(trans.todense(), columns=cv.get_feature_names())
    df3              = pd.concat([df3,trans],axis = 1)
    
    #enco              = enco.drop(["Eli","job_title","Sector","City"],axis = 1)
    return df3
X = Convert(data)
X.head()

In [6]:
#to_predict.head()

In [7]:
#data["Eli"]

In [8]:
#cv=CountVectorizer()

#cv.fit_transform(data["Eli"])

def fun(salary, job_label,Sector_label,City_label, Education, Month=0):
    
    #Month=0
     #encod=df[["Location","Job_Description","Sector","Eligibility","salary","Month"]
    education_encoded=cv.transform([Education])
    
    job_int=job_encoder.transform([job_label])#return an array
    
   # print(job_int)
    
    city_int=location_encoder.transform([City_label])
    
    sector_int=Sector_encoder.transform([Sector_label])
    
    df1=pd.DataFrame([[city_int[0],job_int[0],sector_int[0],int(salary),Month]],columns=["Location","Job_Description","Sector","salary","Month"])#give the data frame which have all the labeles variable
        
    
    df2=pd.DataFrame(education_encoded.todense(),columns=cv.get_feature_names())# gives dataframe by encoding EDUCATION
    
    df1=pd.concat([df1,df2],axis=1)#Combined data frame which is to be predicted
    
    return df1
to_predict=fun("3000","SALES & MARKETING AGENT","Engineering","DELHI","BTech")

In [9]:
to_predict

,Location,Job_Description,Sector,salary,Month,10th,12th,4th,5th,8th,...,pathology,pg,pgdba,pgdca,pgdm,pharm,phd,professional,science,surgery
0,41,5277,10,3000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## XGBOOST

In [10]:

from xgboost import XGBRFRegressor
model1=xgb.XGBRegressor()

X_train,X_test,y_train,y_test=train_test_split(X,data["vacancies"],random_state=0)
model1.fit(X_train,y_train)
model1.score(X_test,y_test)

0.4318847355012473

In [11]:
from sklearn import metrics 
import math
Y_pred=model1.predict(X_test)
LogReg = round(model1.score(X_test, y_test), 2) 
mae_lr = round(metrics.mean_absolute_error(y_test, Y_pred), 4) 
mse_lr = round(metrics.mean_squared_error(y_test, Y_pred), 4) 
print(mae_lr)
print(math.sqrt(mse_lr))

5.8046
13.830943568679615

## KNN

In [32]:
from sklearn.neighbors import KNeighborsRegressor
knr=KNeighborsRegressor()
knr.fit(X_train,y_train)
knr.score(X_test,y_test)

0.3425371820958373

In [46]:
Y_pred=knr.predict(X_test)
LogReg = round(knr.score(X_test, y_test), 2) 
mae_lr = round(metrics.mean_absolute_error(y_test, Y_pred), 4) 
mse_lr = round(metrics.mean_squared_error(y_test, Y_pred), 4) 
print(mae_lr)
print(math.sqrt(mse_lr))

5.8438
14.878844041120937

## Random Forest

In [34]:
from sklearn.ensemble import RandomForestRegressor
rdc=RandomForestRegressor()
rdc.fit(X_train,y_train)
rdc.score(X_test,y_test)

/home/noBody/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.4096484423769736

In [45]:
Y_pred=rdc.predict(X_test)
LogReg = round(rdc.score(X_test, y_test), 2) 
mae_lr = round(metrics.mean_absolute_error(y_test, Y_pred), 4) 
mse_lr = round(metrics.mean_squared_error(y_test, Y_pred), 4) 
print(mae_lr)
print(math.sqrt(mse_lr))

5.6822
14.09902124262532

## Naive Bayes

In [42]:
from sklearn.naive_bayes import MultinomialNB
mb=MultinomialNB()
mb.fit(X_train,y_train)
mb.score(X_test,y_test)

0.06154603643525357

In [44]:
Y_pred=mb.predict(X_test)
LogReg = round(mb.score(X_test, y_test), 2) 
mae_lr = round(metrics.mean_absolute_error(y_test, Y_pred), 4) 
mse_lr = round(metrics.mean_squared_error(y_test, Y_pred), 4) 
print(mae_lr)
print(math.sqrt(mse_lr))

19.7698
29.96287369395666

## Decision Regressor

In [47]:
from sklearn.tree import DecisionTreeRegressor
dcr=DecisionTreeRegressor()
dcr.fit(X_train,y_train)
dcr.score(X_test,y_test)

0.02536004667438041

In [48]:
Y_pred=dcr.predict(X_test)
LogReg = round(dcr.score(X_test, y_test), 2) 
mae_lr = round(metrics.mean_absolute_error(y_test, Y_pred), 4) 
mse_lr = round(metrics.mean_squared_error(y_test, Y_pred), 4) 
print(mae_lr)
print(math.sqrt(mse_lr))

6.0041
18.115725213195304

## Linear

In [50]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)
lr.score(X_test,y_test)

0.0373123441793507

In [51]:
Y_pred=lr.predict(X_test)
LogReg = round(lr.score(X_test, y_test), 2) 
mae_lr = round(metrics.mean_absolute_error(y_test, Y_pred), 4) 
mse_lr = round(metrics.mean_squared_error(y_test, Y_pred), 4) 
print(mae_lr)
print(math.sqrt(mse_lr))

8.8911
18.004302263625767

## Logsitic

In [55]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,y_train)
lr.score(X_train,y_train)

/home/noBody/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/noBody/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.4250184683575474

In [56]:
Y_pred=lr.predict(X_test)
LogReg = round(lr.score(X_test, y_test), 2) 
mae_lr = round(metrics.mean_absolute_error(y_test, Y_pred), 4) 
mse_lr = round(metrics.mean_squared_error(y_test, Y_pred), 4) 
print(mae_lr)
print(math.sqrt(mse_lr))

6.0935
19.335095034677227

## SVR

In [59]:
svr=svm.SVR()
svr.fit(X_train,y_train)
svr.score(X_test,y_test)

/home/noBody/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

-0.003224421052831383

In [60]:
Y_pred=svr.predict(X_test)
LogReg = round(svr.score(X_test, y_test), 2) 
mae_lr = round(metrics.mean_absolute_error(y_test, Y_pred), 4) 
mse_lr = round(metrics.mean_squared_error(y_test, Y_pred), 4) 
print(mae_lr)
print(math.sqrt(mse_lr))

5.6247
18.379455922306295